# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual Environment
venv/
.env

# Pytest
.pytest_cache/

# VS Code
.vscode/

# Coverage
.coverage
htmlcov/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Historical data
data/*.csv
data/*.zip